@mixin btn-style($height: 34px, $bg: $red-btn, $color: $tan-bg){
    height: $height;
    background: $bg;
    font-family: $title-font;
    font-size: 24px;
    margin: 10px;
    padding: auto;
    color: $color;
}

@mixin flexSetUp($justify: flex-start, $align: flex-start, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
 }

 @mixin width-height($width, $height) {
    width: $width;
    height: $height;
 }

 @mixin center {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
  }