@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:700i|Open+Sans');

//colors
$main-bg: #4e1e29;
$tan-bg: #c6b38e;
$blk-bg: #020402;
$grey-bg: #242325;
$red-btn: #a52422;
$words: #fbffe6;

//fonts
$title-font: 'Alegreya SC', serif;
$main-font: 'Open Sans', sans-serif;
